<?xml version="1.0" ?>
<!--       simulation model of crawler robot in UGVC 2016         -->
<robot name="ugvc_crawler_robot">

  <joint name="ugvc_crawler_robot__right_rear" type="revolute">
    <parent link="ugvc_crawler_robot__chassis"/>
    <child link="ugvc_crawler_robot__right_rear_wheel"/>
    <origin rpy="0      1.5707  0" xyz="-0.16     0.28999  0.065"/>
    <axis xyz="9.00000000e-05   0.00000000e+00   1.00000000e+00"/>
    <limit effort="0" lower="0" upper="0" velocity="0"/>
  </joint>

  <joint name="ugvc_crawler_robot__right_front" type="revolute">
    <parent link="ugvc_crawler_robot__chassis"/>
    <child link="ugvc_crawler_robot__right_front_wheel"/>
    <origin rpy="0      1.5707  0" xyz="-0.16    -0.28999  0.065"/>
    <axis xyz="9.00000000e-05   0.00000000e+00   1.00000000e+00"/>
    <limit effort="0" lower="0" upper="0" velocity="0"/>
  </joint>
  <joint name="ugvc_crawler_robot__left_rear" type="revolute">
    <parent link="ugvc_crawler_robot__chassis"/>
    <child link="ugvc_crawler_robot__left_rear_wheel"/>
    <origin rpy="0      1.5707  0" xyz="0.16     0.28999  0.06499"/>
    <axis xyz="9.00000000e-05   0.00000000e+00   1.00000000e+00"/>
    <limit effort="0" lower="0" upper="0" velocity="0"/>
  </joint>
  <joint name="ugvc_crawler_robot__left_front" type="revolute">
    <parent link="ugvc_crawler_robot__chassis"/>
    <child link="ugvc_crawler_robot__left_front_wheel"/>
    <origin rpy="0      1.5707  0" xyz="0.16    -0.28999  0.06499"/>
    <axis xyz="9.00000000e-05   0.00000000e+00   1.00000000e+00"/>
    <limit effort="0" lower="0" upper="0" velocity="0"/>
  </joint>
  <joint name="ugvc_crawler_robot__left_rear_flipper" type="revolute">
    <parent link="ugvc_crawler_robot__chassis"/>
    <child link="ugvc_crawler_robot__left_rear_flipper"/>
    <origin rpy="0  0  0" xyz="0.28199  0.28999  0.067"/>
    <axis xyz="1  0  0"/>
    <limit effort="0.0" lower="0.0" upper="0.0" velocity="1.0"/>
  </joint>
  <joint name="ugvc_crawler_robot__right_rear_flipper" type="revolute">
    <parent link="ugvc_crawler_robot__chassis"/>
    <child link="ugvc_crawler_robot__right_rear_flipper"/>
    <origin rpy="0  0  0" xyz="-0.28199  0.28999  0.063"/>
    <axis xyz="1  0  0"/>
    <limit effort="0.0" lower="0.0" upper="0.0" velocity="1.0"/>
  </joint>
  <joint name="ugvc_crawler_robot__left_front_flipper" type="revolute">
    <parent link="ugvc_crawler_robot__chassis"/>
    <child link="ugvc_crawler_robot__left_front_flipper"/>
    <origin rpy="0  0  0" xyz="0.28199 -0.28999  0.067"/>
    <axis xyz="1  0  0"/>
    <limit effort="0.0" lower="0.0" upper="0.0" velocity="1.0"/>
  </joint>
  <joint name="ugvc_crawler_robot__right_front_flipper" type="revolute">
    <parent link="ugvc_crawler_robot__chassis"/>
    <child link="ugvc_crawler_robot__right_front_flipper"/>
    <origin rpy="0  0  0" xyz="-0.28199 -0.28999  0.063"/>
    <axis xyz="1  0  0"/>
    <limit effort="0.0" lower="0.0" upper="0.0" velocity="1.0"/>
  </joint>
  <joint name="ugvc_crawler_robot__right_rear_flipper_wheel_1" type="revolute">
    <parent link="ugvc_crawler_robot__right_rear_flipper"/>
    <child link="ugvc_crawler_robot__right_rear_flipper_wheel_1"/>
    <origin rpy="0      1.5707  0" xyz="-0.002  0     0.002"/>
    <axis xyz="9.00000000e-05   0.00000000e+00   1.00000000e+00"/>
    <limit effort="0" lower="0" upper="0" velocity="0"/>
  </joint>
  <joint name="ugvc_crawler_robot__right_rear_flipper_wheel_2" type="revolute">
    <parent link="ugvc_crawler_robot__right_rear_flipper"/>
    <child link="ugvc_crawler_robot__right_rear_flipper_wheel_2"/>
    <origin rpy="0      1.5707  0" xyz="-0.002  0.37   0.002"/>
    <axis xyz="9.00000000e-05   0.00000000e+00   1.00000000e+00"/>
    <limit effort="0" lower="0" upper="0" velocity="0"/>
  </joint>
  <joint name="ugvc_crawler_robot__right_front_flipper_wheel_1" type="revolute">
    <parent link="ugvc_crawler_robot__right_front_flipper"/>
    <child link="ugvc_crawler_robot__right_front_flipper_wheel_1"/>
    <origin rpy="0      1.5707  0" xyz="-0.002  0     0.002"/>
    <axis xyz="9.00000000e-05   0.00000000e+00   1.00000000e+00"/>
    <limit effort="0" lower="0" upper="0" velocity="0"/>
  </joint>
  <joint name="ugvc_crawler_robot__right_front_flipper_wheel_2" type="revolute">
    <parent link="ugvc_crawler_robot__right_front_flipper"/>
    <child link="ugvc_crawler_robot__right_front_flipper_wheel_2"/>
    <origin rpy="0      1.5707  0" xyz="-0.002 -0.37   0.002"/>
    <axis xyz="9.00000000e-05   0.00000000e+00   1.00000000e+00"/>
    <limit effort="0" lower="0" upper="0" velocity="0"/>
  </joint>
  <joint name="ugvc_crawler_robot__left_rear_flipper_wheel_1" type="revolute">
    <parent link="ugvc_crawler_robot__left_rear_flipper"/>
    <child link="ugvc_crawler_robot__left_rear_flipper_wheel_1"/>
    <origin rpy="0      1.5707  0" xyz="0.002  0    -0.002"/>
    <axis xyz="9.00000000e-05   0.00000000e+00   1.00000000e+00"/>
    <limit effort="0" lower="0" upper="0" velocity="0"/>
  </joint>
  <joint name="ugvc_crawler_robot__left_rear_flipper_wheel_2" type="revolute">
    <parent link="ugvc_crawler_robot__left_rear_flipper"/>
    <child link="ugvc_crawler_robot__left_rear_flipper_wheel_2"/>
    <origin rpy="0      1.5707  0" xyz="0.002  0.37  -0.002"/>
    <axis xyz="9.00000000e-05   0.00000000e+00   1.00000000e+00"/>
    <limit effort="0" lower="0" upper="0" velocity="0"/>
  </joint>
  <joint name="ugvc_crawler_robot__left_front_flipper_wheel_1" type="revolute">
    <parent link="ugvc_crawler_robot__left_front_flipper"/>
    <child link="ugvc_crawler_robot__left_front_flipper_wheel_1"/>
    <origin rpy="0      1.5707  0" xyz="0.002  0    -0.002"/>
    <axis xyz="9.00000000e-05   0.00000000e+00   1.00000000e+00"/>
    <limit effort="0" lower="0" upper="0" velocity="0"/>
  </joint>
  <joint name="ugvc_crawler_robot__left_front_flipper_wheel_2" type="revolute">
    <parent link="ugvc_crawler_robot__left_front_flipper"/>
    <child link="ugvc_crawler_robot__left_front_flipper_wheel_2"/>
    <origin rpy="0      1.5707  0" xyz="0.002 -0.37  -0.002"/>
    <axis xyz="9.00000000e-05   0.00000000e+00   1.00000000e+00"/>
    <limit effort="0" lower="0" upper="0" velocity="0"/>
  </joint>

  
  <link name="ugvc_crawler_robot__chassis">
    <inertial>
      <mass value="20"/>
      <origin rpy="0  0  0" xyz="0     0     0.065"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
    <collision name="ugvc_crawler_robot__collision">
      <origin rpy="0  0  0" xyz="0     0     0.065"/>
      <geometry>
        <box size=".32 .58 .13"/>
      </geometry>
    </collision>
    <visual name="ugvc_crawler_robot__visual">
      <origin rpy="0  0  0" xyz="0     0     0.065"/>
      <geometry>
        <box size=".32 .58 .13"/>
      </geometry>
    </visual>
  </link>

  <link name="ugvc_crawler_robot__right_rear_wheel">
    <inertial>
      <mass value="1.0"/>
      <origin rpy="0  0  0" xyz="0    0   -0.06"/>
      <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
    </inertial>
    <collision name="ugvc_crawler_robot__collision">
      <origin rpy="0  0  0" xyz="0    0   -0.06"/>
      <geometry>
        <cylinder length=".12" radius=".065"/>
      </geometry>
    </collision>
    <visual name="ugvc_crawler_robot__visual">
      <origin rpy="0  0  0" xyz="0    0   -0.06"/>
      <geometry>
        <cylinder length=".12" radius=".065"/>
      </geometry>
    </visual>
  </link>
  <link name="ugvc_crawler_robot__right_front_wheel">
    <inertial>
      <mass value="1.0"/>
      <origin rpy="0  0  0" xyz="0    0   -0.06"/>
      <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
    </inertial>
    <collision name="ugvc_crawler_robot__collision">
      <origin rpy="0  0  0" xyz="0    0   -0.06"/>
      <geometry>
        <cylinder length=".12" radius=".065"/>
      </geometry>
    </collision>
    <visual name="ugvc_crawler_robot__visual">
      <origin rpy="0  0  0" xyz="0    0   -0.06"/>
      <geometry>
        <cylinder length=".12" radius=".065"/>
      </geometry>
    </visual>
  </link>
  <link name="ugvc_crawler_robot__left_rear_wheel">
    <inertial>
      <mass value="1.0"/>
      <origin rpy="0  0  0" xyz="0    0    0.06"/>
      <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
    </inertial>
    <collision name="ugvc_crawler_robot__collision">
      <origin rpy="0  0  0" xyz="0    0    0.06"/>
      <geometry>
        <cylinder length=".12" radius=".065"/>
      </geometry>
    </collision>
    <visual name="ugvc_crawler_robot__visual">
      <origin rpy="0  0  0" xyz="0    0    0.06"/>
      <geometry>
        <cylinder length=".12" radius=".065"/>
      </geometry>
    </visual>
  </link>
  <link name="ugvc_crawler_robot__left_front_wheel">
    <inertial>
      <mass value="1.0"/>
      <origin rpy="0  0  0" xyz="0    0    0.06"/>
      <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
    </inertial>
    <collision name="ugvc_crawler_robot__collision">
      <origin rpy="0  0  0" xyz="0    0    0.06"/>
      <geometry>
        <cylinder length=".12" radius=".065"/>
      </geometry>
    </collision>
    <visual name="ugvc_crawler_robot__visual">
      <origin rpy="0  0  0" xyz="0    0    0.06"/>
      <geometry>
        <cylinder length=".12" radius=".065"/>
      </geometry>
    </visual>
  </link>
  <link name="ugvc_crawler_robot__right_rear_flipper">
    <inertial>
      <mass value="0"/>
      <origin rpy="0  0  0" xyz="0     0.185  0.002"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
    <collision name="ugvc_crawler_robot__collision">
      <origin rpy="0  0  0" xyz="0     0.185  0.002"/>
      <geometry>
        <box size=".004 .37 .13"/>
      </geometry>
    </collision>
    <visual name="ugvc_crawler_robot__visual">
      <origin rpy="0  0  0" xyz="0     0.185  0.002"/>
      <geometry>
        <box size=".004 .37 .13"/>
      </geometry>
    </visual>
  </link>
  <link name="ugvc_crawler_robot__right_rear_flipper_wheel_1">
    <inertial>
      <mass value="1.0"/>
      <origin rpy="0  0  0" xyz="0    0   -0.03"/>
      <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
    </inertial>
    <collision name="ugvc_crawler_robot__collision">
      <origin rpy="0  0  0" xyz="0    0   -0.03"/>
      <geometry>
        <cylinder length=".06" radius=".065"/>
      </geometry>
    </collision>
    <visual name="ugvc_crawler_robot__visual">
      <origin rpy="0  0  0" xyz="0    0   -0.03"/>
      <geometry>
        <cylinder length=".06" radius=".065"/>
      </geometry>
    </visual>
  </link>
  <link name="ugvc_crawler_robot__right_rear_flipper_wheel_2">
    <inertial>
      <mass value="1.0"/>
      <origin rpy="0  0  0" xyz="0    0   -0.03"/>
      <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
    </inertial>
    <collision name="ugvc_crawler_robot__collision">
      <origin rpy="0  0  0" xyz="0    0   -0.03"/>
      <geometry>
        <cylinder length=".06" radius=".065"/>
      </geometry>
    </collision>
    <visual name="ugvc_crawler_robot__visual">
      <origin rpy="0  0  0" xyz="0    0   -0.03"/>
      <geometry>
        <cylinder length=".06" radius=".065"/>
      </geometry>
    </visual>
  </link>
  <link name="ugvc_crawler_robot__left_rear_flipper">
    <inertial>
      <mass value="0"/>
      <origin rpy="0  0  0" xyz="0     0.185 -0.002"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
    <collision name="ugvc_crawler_robot__collision">
      <origin rpy="0  0  0" xyz="0     0.185 -0.002"/>
      <geometry>
        <box size=".004 .37 .13"/>
      </geometry>
    </collision>
    <visual name="ugvc_crawler_robot__visual">
      <origin rpy="0  0  0" xyz="0     0.185 -0.002"/>
      <geometry>
        <box size=".004 .37 .13"/>
      </geometry>
    </visual>
  </link>
  <link name="ugvc_crawler_robot__left_rear_flipper_wheel_1">
    <inertial>
      <mass value="1.0"/>
      <origin rpy="0  0  0" xyz="0    0    0.03"/>
      <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
    </inertial>
    <collision name="ugvc_crawler_robot__collision">
      <origin rpy="0  0  0" xyz="0    0    0.03"/>
      <geometry>
        <cylinder length=".06" radius=".065"/>
      </geometry>
    </collision>
    <visual name="ugvc_crawler_robot__visual">
      <origin rpy="0  0  0" xyz="0    0    0.03"/>
      <geometry>
        <cylinder length=".06" radius=".065"/>
      </geometry>
    </visual>
  </link>
  <link name="ugvc_crawler_robot__left_rear_flipper_wheel_2">
    <inertial>
      <mass value="1.0"/>
      <origin rpy="0  0  0" xyz="0    0    0.03"/>
      <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
    </inertial>
    <collision name="ugvc_crawler_robot__collision">
      <origin rpy="0  0  0" xyz="0    0    0.03"/>
      <geometry>
        <cylinder length=".06" radius=".065"/>
      </geometry>
    </collision>
    <visual name="ugvc_crawler_robot__visual">
      <origin rpy="0  0  0" xyz="0    0    0.03"/>
      <geometry>
        <cylinder length=".06" radius=".065"/>
      </geometry>
    </visual>
  </link>
  <link name="ugvc_crawler_robot__right_front_flipper">
    <inertial>
      <mass value="0"/>
      <origin rpy="0  0  0" xyz="0    -0.185  0.002"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
    <collision name="ugvc_crawler_robot__collision">
      <origin rpy="0  0  0" xyz="0    -0.185  0.002"/>
      <geometry>
        <box size=".004 .37 .13"/>
      </geometry>
    </collision>
    <visual name="ugvc_crawler_robot__visual">
      <origin rpy="0  0  0" xyz="0    -0.185  0.002"/>
      <geometry>
        <box size=".004 .37 .13"/>
      </geometry>
    </visual>
  </link>
  <link name="ugvc_crawler_robot__right_front_flipper_wheel_1">
    <inertial>
      <mass value="1.0"/>
      <origin rpy="0  0  0" xyz="0    0   -0.03"/>
      <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
    </inertial>
    <collision name="ugvc_crawler_robot__collision">
      <origin rpy="0  0  0" xyz="0    0   -0.03"/>
      <geometry>
        <cylinder length=".06" radius=".065"/>
      </geometry>
    </collision>
    <visual name="ugvc_crawler_robot__visual">
      <origin rpy="0  0  0" xyz="0    0   -0.03"/>
      <geometry>
        <cylinder length=".06" radius=".065"/>
      </geometry>
    </visual>
  </link>
  <link name="ugvc_crawler_robot__right_front_flipper_wheel_2">
    <inertial>
      <mass value="1.0"/>
      <origin rpy="0  0  0" xyz="0    0   -0.03"/>
      <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
    </inertial>
    <collision name="ugvc_crawler_robot__collision">
      <origin rpy="0  0  0" xyz="0    0   -0.03"/>
      <geometry>
        <cylinder length=".06" radius=".065"/>
      </geometry>
    </collision>
    <visual name="ugvc_crawler_robot__visual">
      <origin rpy="0  0  0" xyz="0    0   -0.03"/>
      <geometry>
        <cylinder length=".06" radius=".065"/>
      </geometry>
    </visual>
  </link>
  <link name="ugvc_crawler_robot__left_front_flipper">
    <inertial>
      <mass value="0"/>
      <origin rpy="0  0  0" xyz="0    -0.185 -0.002"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
    <collision name="ugvc_crawler_robot__collision">
      <origin rpy="0  0  0" xyz="0    -0.185 -0.002"/>
      <geometry>
        <box size=".004 .37 .13"/>
      </geometry>
    </collision>
    <visual name="ugvc_crawler_robot__visual">
      <origin rpy="0  0  0" xyz="0    -0.185 -0.002"/>
      <geometry>
        <box size=".004 .37 .13"/>
      </geometry>
    </visual>
  </link>
  <link name="ugvc_crawler_robot__left_front_flipper_wheel_1">
    <inertial>
      <mass value="1.0"/>
      <origin rpy="0  0  0" xyz="0    0    0.03"/>
      <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
    </inertial>
    <collision name="ugvc_crawler_robot__collision">
      <origin rpy="0  0  0" xyz="0    0    0.03"/>
      <geometry>
        <cylinder length=".06" radius=".065"/>
      </geometry>
    </collision>
    <visual name="ugvc_crawler_robot__visual">
      <origin rpy="0  0  0" xyz="0    0    0.03"/>
      <geometry>
        <cylinder length=".06" radius=".065"/>
      </geometry>
    </visual>
  </link>
  <link name="ugvc_crawler_robot__left_front_flipper_wheel_2">
    <inertial>
      <mass value="1.0"/>
      <origin rpy="0  0  0" xyz="0    0    0.03"/>
      <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
    </inertial>
    <collision name="ugvc_crawler_robot__collision">
      <origin rpy="0  0  0" xyz="0    0    0.03"/>
      <geometry>
        <cylinder length=".06" radius=".065"/>
      </geometry>
    </collision>
    <visual name="ugvc_crawler_robot__visual">
      <origin rpy="0  0  0" xyz="0    0    0.03"/>
      <geometry>
        <cylinder length=".06" radius=".065"/>
      </geometry>
    </visual>
  </link>
</robot>