<?xml version="1.0"?>

<model>
  <name>surus_sim</name>
  <version>1.0</version>
  <sdf version="1.4">surus_sim.sdf</sdf>

  <author>
    <name>yajing wang</name>
    <email>yajingwang94@gmail.com</email>
  </author>

  <description>
    Obstacles in UGVC remotely control competition.
  </description>
</model>
