<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- hokuyo_laser -->
  <xacro:macro name="laser" params="prefix">
    <link name="${prefix}_laser">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <!-- Origin of this mesh is the base of the bracket. -->
          <mesh filename="package://mybot_description/meshes/hokuyo.dae" />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <box size=".1 .108 .117" />
        </geometry>
      </collision>
    </link>

    <joint name="${prefix}_laser_joint" type="fixed">
      <origin xyz="0.33 0 0.33" rpy="0 0 0" />
      <parent link="top_plate_link"/>
      <child link="${prefix}_laser" />
    </joint>
  </xacro:macro>


  <!-- imu -->
<xacro:macro name="imu" params="prefix">
    <link name="${prefix}_link"/>
    <joint name="${prefix}_joint" type="fixed">
            <origin xyz="$(optenv MYBOT_IMU_XYZ 0.19 0 0.149)" rpy="$(optenv MYBOT_IMU_RPY 0 -1.5708 3.1416)" />
      <parent link="base_link" />
      <child link="${prefix}_link" />
    </joint>
    </xacro:macro>

    <!-- camera -->
    <xacro:macro name="camera" params="prefix">
      <link name="${prefix}_mount_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <!-- Origin of this mesh is the base of the bracket. -->
          <mesh filename="package://mybot_description/meshes/GoPro.dae" />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <!-- Origin of this mesh is the base of the bracket. -->
          <mesh filename="package://mybot_description/meshes/GoPro.dae" />
        </geometry>
      </collision>
    </link>

    <joint name="${prefix}_joint" type="fixed">
        <origin xyz="0 0 ${lz}" rpy="0 0 0"/>
      <parent link="top_top_link"/>
      <child link="${prefix}_mount_link"/>
    </joint>

    <!-- camera_top_link -->
    <link name="${prefix}_top_link">
        <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
        <box size="0 0 0"/>
        </geometry>
      </collision>
    </link>
      <joint name="${prefix}_top_link" type="fixed">
        <!-- the xyz is for the GoPro.dae  -->
        <origin xyz="0 0.038 0.26" rpy="0 0 0"/>

        <parent link="${prefix}_mount_link"/>
        <child link="${prefix}_top_link"/>
      </joint>

  </xacro:macro>

</robot>
